WebContent\resources\jquery-3.4.0.min.js linguist-vendored=false
WebContent\resources\myjs.js linguist-vendored=false
WebContent\resources\popper.min.js linguist-vendored=false
WebContent\resources\bootstrap-4.3.1\js\bootstrap.bundle.js linguist-vendored=false
WebContent\resources\bootstrap-4.3.1\js\bootstrap.bundle.min.js linguist-vendored=false
WebContent\resources\bootstrap-4.3.1\js\bootstrap.js linguist-vendored=false
WebContent\resources\bootstrap-4.3.1\js\bootstrap.min.js linguist-vendored=false




